<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<div class="container w-container">

		<h1>List view for Product Extension</h1>


		<table  class="tx_asproduct" >
			<tr>
				<th><f:translate key="tx_asproduct_domain_model_product.artikelnummer" /></th>
				<th><f:translate key="tx_asproduct_domain_model_product.serie" /></th>
				<th><f:translate key="tx_asproduct_domain_model_product.bezeichnung" /></th>
			</tr>

			<f:for each="{products}" as="product">
				<tr>
					<td><f:link.action action="show" arguments="{product : product}"> {product.artikelnummer}</f:link.action></td>
					<td><f:link.action action="show" arguments="{product : product}"> {product.serie}</f:link.action></td>
					<td><f:link.action action="show" arguments="{product : product}"> {product.bezeichnung}</f:link.action></td>
				</tr>
			</f:for>
		</table>

	</div>

</f:section>
</html>